@charset "UTF-8";
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px; }
  ::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #cecece; }
  ::-webkit-scrollbar-thumb {
    background-color: #cecece; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; }
  ::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    border: 0; }
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: none;
    border: 0; }
  /* overides metro scrolbars in IE10 and makes them look like a default scrollbar */
  @-ms-viewport {
    width: auto !important; }
  ::-moz-selection {
    color: #fff;
    background: #e45000; }
  ::selection {
    color: #fff;
    background: #e45000; } }

html {
  height: 100%;
  font-size: 100px;
  background-color: white; }
  html body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 60px;
    color: #3e4d5c;
    direction: ltr;
    font: 400 13px "Open Sans", Arial, sans-serif;
    background: #fff; }
    html body.modal-open {
      position: fixed;
      width: 100%; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 150px, 0); }
  100% {
    opacity: 1;
    transform: none; } }

/* fuck uc ad */
iframe[id^="head__"] {
  display: none !important; }

iframe[id^="utp__"] {
  display: none !important; }

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.main {
  flex: 1;
  padding-top: 20px;
  background: white; }

.footer {
  flex: 0; }

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.m-nav {
  width: 100%;
  height: 100%; }
  .m-nav .container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    text-align: center; }
    .m-nav .container .mobile-menu {
      display: none; }
    .m-nav .container .u-logo {
      float: left;
      font-size: 0;
      height: 100%;
      line-height: 60px; }
      .m-nav .container .u-logo img {
        height: 50px;
        line-height: 60px;
        vertical-align: middle; }
    .m-nav .container .u-nav {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(0); }
      .m-nav .container .u-nav .list {
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap; }
        .m-nav .container .u-nav .list .item {
          display: inline-block;
          height: 60px;
          line-height: 60px; }
          .m-nav .container .u-nav .list .item::after {
            display: inline-block;
            transform: scale(0.35); }
          .m-nav .container .u-nav .list .item:last-of-type::after {
            display: none; }
          .m-nav .container .u-nav .list .item a {
            display: inline-block;
            height: 100%;
            padding: 0 .15rem;
            box-sizing: border-box;
            font-size: 15px;
            letter-spacing: 1px;
            color: #3e4d5c;
            text-decoration-line: none; }
            .m-nav .container .u-nav .list .item a:link, .m-nav .container .u-nav .list .item a:visited, .m-nav .container .u-nav .list .item a:hover, .m-nav .container .u-nav .list .item a:active {
              color: #3e4d5c;
              text-decoration: none; }
            .m-nav .container .u-nav .list .item a span {
              padding: 0 .08rem; }
            .m-nav .container .u-nav .list .item a:hover span {
              display: inline-block;
              height: calc(100% - 2px);
              color: #00B7EE;
              border-bottom: 2px solid #00B7EE; }
          .m-nav .container .u-nav .list .item .fa {
            line-height: 60px;
            font-size: 20px;
            cursor: pointer; }
            .m-nav .container .u-nav .list .item .fa:hover {
              color: #00B7EE; }

.footer {
  width: 100%;
  padding: .15rem 0;
  background: #EEE; }
  .footer .container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px; }
    .footer .container .copyright {
      display: inline-block;
      line-height: 32px; }
      .footer .container .copyright .u-logo {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        vertical-align: bottom; }
        .footer .container .copyright .u-logo img {
          width: 32px;
          height: 32px; }
      .footer .container .copyright .text {
        display: inline-block;
        padding: 0 .5em;
        line-height: 32px; }
        .footer .container .copyright .text.powered {
          font-size: 12px; }
        .footer .container .copyright .text a {
          color: #07C;
          text-decoration-line: none; }
          .footer .container .copyright .text a:link, .footer .container .copyright .text a:visited, .footer .container .copyright .text a:hover, .footer .container .copyright .text a:active {
            color: #07C;
            text-decoration: none; }
    .footer .container .contact .list {
      margin: 0;
      padding: 0;
      list-style: none; }
      .footer .container .contact .list .item {
        display: inline-block;
        padding: 0 .5em;
        line-height: 0;
        vertical-align: middle; }
        .footer .container .contact .list .item a {
          display: inline-block;
          line-height: 32px;
          color: #07C;
          text-decoration-line: none; }
          .footer .container .contact .list .item a:link, .footer .container .contact .list .item a:visited, .footer .container .contact .list .item a:hover, .footer .container .contact .list .item a:active {
            color: #07C;
            text-decoration: none; }
          .footer .container .contact .list .item a img {
            width: 22px;
            height: 32px;
            vertical-align: middle;
            cursor: pointer; }
    .footer .container:before, .footer .container:after {
      display: none; }

.overlay.overlay-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  text-align: center;
  perspective: 500px; }
  .overlay.overlay-wrap.show {
    display: block;
    animation: show-overlay .2s ease-in-out both; }
    .overlay.overlay-wrap.show .modal-content {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      border: none;
      animation: show-modal .2s ease-in-out both; }
  .overlay.overlay-wrap::after {
    content: ' ';
    display: inline-block;
    height: 100%;
    line-height: 100%;
    vertical-align: middle; }
  .overlay.overlay-wrap .modal-content {
    display: none;
    vertical-align: middle; }

*[data-overlay] {
  display: none; }

@keyframes show-overlay {
  0% {
    background-color: rgba(0, 0, 0, 0); }
  100% {
    background-color: rgba(0, 0, 0, 0.3); } }

@keyframes show-modal {
  0% {
    opacity: 0;
    transform: translateZ(-500px); }
  100% {
    opacity: 1;
    transform: translateZ(0); } }

.wechat-modal-content {
  position: relative;
  width: 400px; }
  .wechat-modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 5px;
    color: #AAA;
    font-size: 18px;
    cursor: pointer;
    opacity: .6; }
  .wechat-modal-content .qr-code {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto; }

@media screen and (max-width: 1279px) {
  html {
    font-size: 13.02083vw; } }

@media screen and (max-width: 767px) {
  html {
    font-size: 26.66667vw; }
    html body {
      padding-top: 50px; }
  .header {
    height: 50px; }
  .m-nav .container .mobile-menu {
    display: block;
    position: absolute;
    left: 0;
    height: 16px;
    width: 16px;
    font-size: 0;
    line-height: 0;
    margin: 15px 0;
    cursor: pointer; }
    .m-nav .container .mobile-menu .item {
      display: inline-block;
      width: 100%;
      height: 3px;
      margin: 3px 0 0;
      background: #3e4d5c;
      transition: all .3s; }
    .m-nav .container .mobile-menu.show-menu .item {
      background: #00B7EE; }
      .m-nav .container .mobile-menu.show-menu .item:nth-of-type(1) {
        transform: translateY(6px) rotate(45deg); }
      .m-nav .container .mobile-menu.show-menu .item:nth-of-type(2) {
        transform: rotate(-45deg); }
      .m-nav .container .mobile-menu.show-menu .item:nth-of-type(3) {
        transform: translateY(-6px) rotate(-45deg); }
  .m-nav .container .u-logo {
    float: none;
    line-height: 50px; }
    .m-nav .container .u-logo img {
      line-height: 50px; }
  .m-nav .container .u-nav {
    right: -20px; }
    .m-nav .container .u-nav .list .item {
      height: 50px;
      line-height: 50px; }
      .m-nav .container .u-nav .list .item .fa {
        line-height: 50px; }
      .m-nav .container .u-nav .list .item.f-lg {
        display: none; }
  .footer {
    padding: .1rem 0; }
    .footer .container {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0; }
      .footer .container .copyright {
        order: 3;
        width: 100%;
        margin: .01rem 0; }
        .footer .container .copyright .u-logo {
          display: none; }
        .footer .container .copyright .text:first-of-type {
          display: block; }
      .footer .container .contact {
        order: 1;
        width: 100%;
        margin: .01rem 0; }
  .overlay.overlay-wrap.not-cover-header {
    z-index: 99;
    padding-top: 50px; }
  .wechat-modal-content {
    width: 90%;
    max-width: 400px; } }

body {
  width: 100%; }
  body::after {
    content: "";
    display: block;
    clear: both; }

/***
Misc tools
***/
.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.no-bottom-space {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important; }

.no-top-space {
  padding-top: 0 !important;
  margin-top: 0 !important; }

.no-space {
  margin: 0 !important;
  padding: 0 !important; }

.no-text-shadow {
  text-shadow: none !important; }

.padding-top-5 {
  padding-top: 5px !important; }

.padding-top-10 {
  padding-top: 10px !important; }

.padding-top-15 {
  padding-top: 15px !important; }

.padding-top-20 {
  padding-top: 20px !important; }

.padding-top-25 {
  padding-top: 25px !important; }

.padding-top-30 {
  padding-top: 30px !important; }

.padding-top-35 {
  padding-top: 35px !important; }

.padding-top-40 {
  padding-top: 40px !important; }

.padding-top-45 {
  padding-top: 45px !important; }

.padding-top-50 {
  padding-top: 50px !important; }

.padding-top-60 {
  padding-top: 60px !important; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.margin-bottom-5 {
  margin-bottom: 5px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-bottom-25 {
  margin-bottom: 25px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-bottom-35 {
  margin-bottom: 35px !important; }

.margin-bottom-40 {
  margin-bottom: 40px !important; }

.margin-bottom-50 {
  margin-bottom: 50px !important; }

.margin-bottom-60 {
  margin-bottom: 60px !important; }

.margin-bottom-65 {
  margin-bottom: 65px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-left-0 {
  margin-left: 0 !important; }

.margin-right-0 {
  margin-right: 0 !important; }

.margin-right-20 {
  margin-right: 20px !important; }

.margin-left-20 {
  margin-left: 20px !important; }

.padding-left-0 {
  padding-left: 0 !important; }

.padding-right-0 {
  padding-right: 0 !important; }

.padding-right-30 {
  padding-right: 30px !important; }

.margin-right-10 {
  margin-right: 10px !important; }

/* Reset rounded corners for all elements */
div,
input,
select,
textarea,
span,
img,
table,
label,
td,
th,
p,
a,
button,
ul,
code,
pre,
li {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }

a,
a:focus,
a:hover,
a:active {
  outline: 0; }

/*Fix for Firefox*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0; }

/* Bootstrap buttons */
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border: none; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #3379b5;
  border-color: #2a6496; }

.open .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3379b5;
  border-color: #2a6496; }

.btn-primary:active,
.btn-primary.active {
  background-image: none;
  background-color: #2d6ca2; }

.btn-primary:active:hover,
.btn-primary.active:hover {
  background-color: #3071a9; }

.open .btn-primary.dropdown-toggle {
  background-image: none; }

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd; }

.btn-primary .badge {
  color: #428bca;
  background-color: #fff; }

.btn-success {
  color: #fff;
  background-color: #45B6AF;
  border-color: #3ea49d; }

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  color: #fff;
  background-color: #3b9c96;
  border-color: #307f7a; }

.open .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #3b9c96;
  border-color: #307f7a; }

.btn-success:active,
.btn-success.active {
  background-image: none;
  background-color: #348a84; }

.btn-success:active:hover,
.btn-success.active:hover {
  background-color: #37918b; }

.open .btn-success.dropdown-toggle {
  background-image: none; }

.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
  background-color: #45B6AF;
  border-color: #3ea49d; }

.btn-success .badge {
  color: #45B6AF;
  background-color: #fff; }

.btn-info {
  color: #fff;
  background-color: #89C4F4;
  border-color: #72b8f2; }

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
  color: #fff;
  background-color: #68b4f1;
  border-color: #43a1ed; }

.open .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #68b4f1;
  border-color: #43a1ed; }

.btn-info:active,
.btn-info.active {
  background-image: none;
  background-color: #51a8ef; }

.btn-info:active:hover,
.btn-info.active:hover {
  background-color: #5aadf0; }

.open .btn-info.dropdown-toggle {
  background-image: none; }

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
  background-color: #89C4F4;
  border-color: #72b8f2; }

.btn-info .badge {
  color: #89C4F4;
  background-color: #fff; }

.btn-warning {
  color: #fff;
  background-color: #dfba49;
  border-color: #dbb233; }

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  color: #fff;
  background-color: #daae2b;
  border-color: #bb9521; }

.open .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #daae2b;
  border-color: #bb9521; }

.btn-warning:active,
.btn-warning.active {
  background-image: none;
  background-color: #c89f23; }

.btn-warning:active:hover,
.btn-warning.active:hover {
  background-color: #d0a625; }

.open .btn-warning.dropdown-toggle {
  background-image: none; }

.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
  background-color: #dfba49;
  border-color: #dbb233; }

.btn-warning .badge {
  color: #dfba49;
  background-color: #fff; }

.btn-danger {
  color: #fff;
  background-color: #F3565D;
  border-color: #f13e46; }

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  color: #fff;
  background-color: #f1353d;
  border-color: #ec111b; }

.open .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #f1353d;
  border-color: #ec111b; }

.btn-danger:active,
.btn-danger.active {
  background-image: none;
  background-color: #ef1d26; }

.btn-danger:active:hover,
.btn-danger.active:hover {
  background-color: #f0262f; }

.open .btn-danger.dropdown-toggle {
  background-image: none; }

.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
  background-color: #F3565D;
  border-color: #f13e46; }

.btn-danger .badge {
  color: #F3565D;
  background-color: #fff; }

.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace; }

.article-entry code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em; }

.article-entry pre {
  background: #3d3d3d;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #cccccc;
  line-height: 22.4px;
  width: 100%; }
  .article-entry pre code {
    background: none;
    text-shadow: none;
    padding: 0; }

.article-entry .highlight {
  background: #3d3d3d;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #cccccc;
  line-height: 22.4px;
  width: 100%; }
  .article-entry .highlight pre {
    border: none;
    margin: 0;
    padding: 0; }
  .article-entry .highlight table {
    margin: 0;
    width: auto; }
  .article-entry .highlight td {
    border: none;
    padding: 0; }
  .article-entry .highlight figcaption {
    font-size: 0.85em;
    color: #999999;
    line-height: 1em;
    margin-bottom: 1em; }
    .article-entry .highlight figcaption a {
      float: right; }
  .article-entry .highlight .gutter pre {
    color: #666;
    font-size: 0.85em;
    text-align: right;
    padding-right: 2px; }
  .article-entry .highlight .line {
    height: 22.4px; }

.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: color-border;
  border-width: 1px 0;
  background: #3d3d3d;
  padding: 15px 20px 15px 0; }
  .article-entry .gist .gist-file {
    border: none;
    font-family: font-mono;
    margin: 0; }
    .article-entry .gist .gist-file .gist-data {
      background: none;
      border: none; }
      .article-entry .gist .gist-file .gist-data .line-numbers {
        color: #666;
        font-size: 0.85em;
        background: none;
        border: none;
        padding: 0 20px 0 0; }
      .article-entry .gist .gist-file .gist-data .line-data {
        padding: 0 !important; }
    .article-entry .gist .gist-file .highlight {
      margin: 0;
      padding: 0;
      border: none; }
    .article-entry .gist .gist-file .gist-meta {
      background: #3d3d3d;
      color: #999999;
      font: 0.85em font-sans;
      text-shadow: 0 0;
      padding: 0;
      margin-top: 1em;
      margin-left: 20px; }
      .article-entry .gist .gist-file .gist-meta a {
        color: color-link;
        font-weight: normal; }
        .article-entry .gist .gist-file .gist-meta a:hover {
          text-decoration: underline; }

pre .comment,
pre .title {
  color: #999999; }

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a; }

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157; }

pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #99cc99; }

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #99cc99; }

pre .css .hexcolor {
  color: #66cccc; }

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #6699cc; }

pre .keyword,
pre .javascript .function {
  color: #cc99cc; }

.highlight {
  position: relative;
  margin-bottom: 10px;
  padding: 0.4em 0 0;
  line-height: 1.1em;
  overflow-x: auto;
  background-color: #f8f8f8;
  border-radius: 5px; }

.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0; }

.highlight .gutter {
  width: 1.5em; }

.highlight .code pre {
  padding: 0 1.4em;
  line-height: 1.7em;
  margin: 0; }

.highlight .code .line {
  min-height: 1.5em; }

.highlight.html .code:before,
.highlight.js .code:before,
.highlight.bash .code:before,
.highlight.css .code:before {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600; }

.highlight.html .code:before {
  content: "HTML"; }

.highlight.js .code:before {
  content: "JS"; }

.highlight.bash .code:before {
  content: "Shell"; }

.highlight.css .code:before {
  content: "CSS"; }

.breadcrumb {
  background: none;
  padding: 0;
  font: 14px "Open Sans", sans-serif;
  color: #5f6d7b;
  margin-bottom: 22px; }
  .breadcrumb li.active {
    color: #e6400c; }
  .breadcrumb li a {
    color: #5f6d7b; }
  .breadcrumb li + li:before {
    content: "\f105 ";
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    color: #5f6d7b; }

.article-title {
  font-size: 25px; }

.blog-posts .article-header .blog-info {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  margin-top: 10px !important;
  padding: 8px 0;
  padding-left: 0;
  list-style: none;
  border-top: solid 1px #ecebeb;
  border-bottom: solid 1px #ecebeb; }
  .blog-posts .article-header .blog-info li {
    display: inline-block;
    margin: 2px 10px 2px 0;
    padding: 0;
    padding-right: 13px;
    color: #555;
    font-size: 13px;
    border-right: solid 1px #ecebeb; }
    .blog-posts .article-header .blog-info li:last-child {
      border-right: none; }
    .blog-posts .article-header .blog-info li i {
      color: #e84d1c; }

.blog-posts .article-nav-wrap {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .blog-posts .article-nav-wrap:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .blog-posts .article-nav-wrap a {
    margin-bottom: 10px; }

.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5 {
  margin-top: -60px;
  padding-top: 80px; }

.article-entry p,
.article-entry li {
  text-align: inherit !important;
  line-height: 1.75em !important;
  font-size: 15px;
  color: #333;
  word-break: break-all; }

.article-entry ol,
.article-entry ul {
  padding-left: 20px; }

.article-entry table {
  width: 100%;
  margin: 1.5em 0; }
  .article-entry table th {
    background: #f3f3f3; }
  .article-entry table th,
  .article-entry table td {
    border: 1px solid #e6e6e6;
    padding: 5px 8px;
    word-break: normal; }

.article-entry blockquote {
  margin: 10px 0;
  font-size: 12px;
  background: #f6f6f6;
  border-left-width: 2px; }

.article-entry img {
  max-width: 100%; }

.article-entry iframe {
  width: 100%;
  max-width: 100%;
  border: none;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  overflow: auto; }

/* paginations */
.pagination {
  border-radius: 0;
  margin: 0;
  margin-bottom: 30px; }

.pagination > li {
  display: inline-block;
  margin-left: 5px; }

.pagination > li > a, .pagination > li > span,
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 25px !important;
  border: none;
  color: #868c93; }

.pagination > li > span,
.pagination > li > span:hover {
  background: #555;
  color: #fff; }

.pagination > li:first-child > a,
.pagination > li:last-child > a {
  padding: 4px 12px 8px; }

.pagination > a,
.pagination > span {
  display: inline-block;
  border-radius: 25px !important;
  border: none;
  color: #868c93;
  padding: 6px 12px;
  position: relative;
  margin-left: 0;
  margin-right: 17px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff; }

.pagination > a:hover {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
  z-index: 3; }

.pagination > a:first-child,
.pagination > a:last-child {
  padding: 4px 12px 8px; }

.pagination span {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7; }

.archives-wrap h2 {
  margin-top: 10px; }
  .archives-wrap h2 .archive-article-title {
    font-size: 22px; }

.archives-wrap .blog-info {
  margin: 15px 0 12px 0;
  padding-left: 0;
  list-style: none; }
  .archives-wrap .blog-info li {
    padding: 0;
    color: #555;
    font-size: 13px;
    margin-right: 10px;
    display: inline-block; }
    .archives-wrap .blog-info li i {
      color: #e84d1c; }

.blog-sidebar.sub-wrapper {
  margin-top: 15px;
  margin-bottom: 15px; }
  .blog-sidebar.sub-wrapper .scroller > .nav {
    display: none; }

@keyframes show-sidebar {
  0% {
    left: -400px; }
  100% {
    left: 0; } }

.blog-sidebar.sub-wrapper h2 {
  font-size: 23px; }

.recent-news {
  overflow: hidden; }

.recent-news a {
  font-size: 14px; }

.recent-news h3,
.ecommerce .recent-news h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

.recent-news h3 a {
  color: #E84D1C; }

.recent-news-inner {
  padding: 0; }

/* Blog Sidebar categories BEGIN */
.sidebar-categories-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

.sidebar-categories-list-item {
  border-bottom: 1px solid #ECEBEB; }

.sidebar-categories-list-link {
  display: inline-block;
  padding: 10px 3px 10px 0;
  color: #333; }

.sidebar-categories-list-link:hover {
  background: none; }

.sidebar-categories-list-link:hover,
.sidebar-categories-list-item.active > .sidebar-categories-list-link,
.sidebar-categories-list-item:hover > .sidebar-categories-list-link,
.sidebar-categories-list-item:hover > .sidebar-categories-list-count {
  color: #E84D1C;
  text-decoration: none; }

.sidebar-categories-list-link:before {
  content: "";
  font-family: FontAwesome !important;
  font-size: 8px;
  padding-right: 10px;
  position: relative;
  top: -1px; }

.sidebar-categories-list-count:before {
  content: "("; }

.sidebar-categories-list-count:after {
  content: ")"; }

/* Blog Sidebar categories END */
.blog-tags ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.blog-tags li {
  position: relative;
  margin: 0 16px 7px 0;
  display: inline-block; }

.blog-tags li a {
  color: #555;
  background: #f5f5f5;
  display: inline-block;
  padding: 3px 5px 3px 3px; }

.blog-tags li a:hover {
  color: #fff;
  background: #E84D1C;
  text-decoration: none; }

.blog-tags li a:hover i {
  color: #fff; }

.blog-tags li i {
  color: #E84D1C;
  margin-right: 5px;
  display: inline-block; }

.blog-tags li a:after {
  top: 50%;
  width: 0;
  left: 100%;
  height: 0;
  z-index: 2;
  content: " ";
  display: block;
  margin-top: -12px;
  position: absolute;
  border-left: 12px solid #f5f5f5;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent; }

.blog-tags li a:hover:after {
  border-left-color: #E84D1C; }

@media screen and (max-width: 767px) {
  .sidebar-wrap.wrapper {
    position: fixed;
    top: 50px;
    left: -800px;
    z-index: 99;
    width: 100%;
    height: calc(100% - 50px);
    margin: 0;
    padding: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .2s ease-in-out; }
    .sidebar-wrap.wrapper.show {
      left: 0; }
    .sidebar-wrap.wrapper .blog-sidebar.sub-wrapper {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: auto;
      background: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      box-sizing: border-box; }
      .sidebar-wrap.wrapper .blog-sidebar.sub-wrapper .scroller {
        padding: 20px 40px; }
        .sidebar-wrap.wrapper .blog-sidebar.sub-wrapper .scroller > .nav {
          display: block;
          padding: 10px 0 30px;
          font-size: 16px; }
          .sidebar-wrap.wrapper .blog-sidebar.sub-wrapper .scroller > .nav .sep {
            display: inline-block;
            width: 1px;
            height: 14px;
            margin: 0 20px;
            line-height: 1.4;
            vertical-align: middle;
            background: #ddd; } }

/*toc*/
.toc-article {
  position: relative;
  width: 100%;
  margin: 1.5em 0 0.3em;
  border-left: 1px solid #eee;
  font-size: 14px; }

.toc-article.fixed-toc {
  position: fixed;
  top: 50px;
  z-index: 10;
  max-height: calc(100% - 100px); }

.toc-article ol {
  margin-left: -15px;
  list-style: none;
  list-style-type: square; }

.toc-article ol.toc {
  position: relative;
  z-index: 2; }

.toc-article ol.toc-child {
  margin-left: -25px; }

.toc-item {
  line-height: 25px; }

.toc-number {
  display: none; }

.toc-link {
  display: block;
  height: 100%; }

.toc-link,
.toc-link:hover,
.toc-link:active,
.toc-link:visited {
  color: black;
  text-decoration: none; }

.toc-link:hover {
  color: #e84d1c; }

.toc-link.active {
  color: #E84D1C; }

.toc-article .highlight-title {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  border-left: 2px solid #E84D1C;
  background: #f3f3f3;
  -moz-transition: top .2s ease;
  -o-transition: top .2s ease;
  -webkit-transition: top .2s ease;
  transition: top .2s ease; }

@media (max-width: 767px) {
  .toc-article {
    border-left: none; } }

.site-search {
  z-index: 10000; }

ul.search-result-list {
  padding-left: 0px;
  margin: 0px 5px 0px 8px; }

p.search-result {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0; }

a.search-result-title {
  font-weight: bold; }

a.search-result {
  border-bottom: transparent;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.search-keyword {
  border-bottom: 1px dashed #4088b8;
  font-weight: bold; }

#local-search-result {
  height: 90%;
  overflow: auto; }

.popup {
  width: 700px;
  height: 80%;
  padding: 3px 0 0 10px;
  background: #fff;
  color: #333;
  border-radius: 5px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }

@media (max-width: 767px) {
  .popup {
    padding: 3px;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 !important;
    box-shadow: none; } }

#local-search-input {
  margin-bottom: 10px;
  width: 50%; }

.popup-btn-close {
  position: absolute;
  top: 6px;
  right: 14px;
  color: #4ebd79;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }

#no-result {
  position: absolute;
  left: 44%;
  top: 42%;
  color: #ccc; }

.busuanzi-count:before {
  content: " ";
  float: left;
  width: 260px;
  min-height: 25px; }

@media (min-width: 768px) and (max-width: 991px) {
  .busuanzi-count {
    width: auto; }
  .busuanzi-count:before {
    display: none; } }

@media (max-width: 767px) {
  .busuanzi-count {
    width: auto; }
  .busuanzi-count:before {
    display: none; } }

.site-uv,
.site-pv,
.page-pv {
  display: inline-block; }

.site-uv .busuanzi-value,
.site-pv .busuanzi-value,
.page-pv .busuanzi-value {
  margin: 0 5px; }

.site-uv {
  margin-right: 10px; }

.site-uv::after {
  content: "|";
  padding-left: 10px; }

.algolia-popup {
  overflow: hidden;
  padding: 0;
  animation: show-modal .2s ease-in-out both; }

.algolia-popup .popup-btn-close {
  padding-left: 15px;
  border-left: 1px solid #eee;
  top: 20px;
  right: 34px; }

.algolia-popup .popup-btn-close .fa {
  color: #999;
  font-size: 18px; }

.algolia-popup .popup-btn-close:hover .fa {
  color: #222; }

.algolia-search {
  max-height: 50px;
  margin: 10px 20px;
  padding: 10px 15px 5px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.algolia-search-input-icon {
  display: inline-block;
  width: 20px; }

.algolia-search-input-icon .fa {
  font-size: 18px; }

.algolia-search-input {
  display: inline-block;
  width: calc(90% - 20px); }

.algolia-search-input input {
  padding: 5px 0;
  width: 100%;
  outline: none;
  border: none;
  background: transparent; }

.algolia-powered {
  float: right;
  position: absolute;
  bottom: 20px;
  right: 20px; }

.algolia-powered img {
  display: inline-block;
  height: 18px;
  vertical-align: middle; }

.algolia-results {
  position: relative;
  overflow: auto;
  padding: 20px 40px;
  height: calc(100% - 100px); }

.algolia-results hr {
  margin: 10px 0; }

.algolia-results .highlight {
  font-style: normal;
  margin: 0;
  padding: 0 2px;
  font-size: inherit;
  color: #f00; }

.algolia-hits {
  margin-top: 20px; }

.algolia-hit-item {
  margin: 18px 0; }

.algolia-hit-item-link {
  display: block;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; }

.algolia-pagination .pagination {
  margin-top: 40px;
  border-top: none;
  padding: 0; }

.algolia-pagination .pagination-item {
  display: inline-block; }

.algolia-pagination .page-number {
  padding: 4px 12px 8px;
  border-top: none; }

.ais-pagination--item__active.current .page-number,
.algolia-pagination .page-number:hover {
  color: white;
  background-color: #337ab7; }

.algolia-pagination .disabled-item {
  display: none; }

.gitment-header-container {
  margin: 10px 0; }

.gitment-comments-loading,
.gitment-comments-error,
.gitment-comments-empty {
  margin: 10px 0 25px !important; }

.gitment-comments-empty {
  display: none; }
